@font-face {
  font-family: 'DkCrayonCrumble';
  src: local('DkCrayonCrumble'), url(./DkCrayonCrumble-ddll.ttf) format('truetype')
}
body {
  background: rgb(48, 47, 47)
}
.title {
  font-weight: 200;
}
.App {
  text-align: center;
  height: 100%;
  max-width: 450px;
  justify-content: center;
  margin: auto;
  background-image: url('/blackboard.png');
  color: white;
  font-family: 'DkCrayonCrumble';
  font-size: 20px;
}

.result-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

h2 {
  flex-grow: 1;
  margin: auto;
  width: 100%;
  font-weight: 100;
}
h3 {
  font-weight: 100;
}
.canvas {

}

.inputs {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 5px;
}
.input-field__label {

}

.input-field__input {
  width: 100px;
  margin:5px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  color: white;
  text-align: end;
  font-family: 'DkCrayonCrumble';
  font-size: 20px;
}

.button-solve {
  width: 100%;
  max-width: 250px;
  margin: auto;
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-family: 'DkCrayonCrumble';
  font-size: 20px;
  margin: 20px;
}
.button-solve:hover {
  background-color: rgba(0,0,0,0.5);
}